@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background-color: #6831de;
  font-family: "poppins", sans-serif;
  overflow: hidden;
}

.container {
  background-color: #fff;
  width: 500px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.wrapper {
  color: #2c3e50;
  padding: 2rem 2.5rem;
}

.container h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  padding: 1rem 0rem;
  border-bottom: 1px solid #ddd;
  color: #2c3e50;
}

.container .from {
  margin: 10px 0 10px 0;
}

.container .from p {
  font-size: 1rem;
  margin-bottom: 7px;
}
.container form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0 15px;
  background-color: transparent;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  transition: all 0.3s ease;
  outline: none;
}

.container form input:focus {
  padding: 0 14px;
  border: 1px solid #839198;
}

.container form .convert_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container form .from,
.container form .to {
  width: 100%;
}

.container .convert_box .select_input {
  display: flex;
  width: 100%;
  border: 1px solid #2c3e50;
  height: 40px;
  align-items: center;
  padding: 0 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.container .convert_box .select_input:hover {
  border: 1px solid #2ecc71;
}

.container .convert_box .select_input img {
  min-height: 20px;
}

.container .convert_box .select_input select {
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  background: none;
  color: #2c3e50;
  outline: none;
  border: none;
  font-family: inherit;
}

.container .convert_box .select_input select option {
  color: #000;
}

.container .convert_box .reverse {
  cursor: pointer;
  margin-top: 32px;
  font-size: 1.2rem;
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.container .convert_box .reverse:hover {
  color: #2ecc71;
}

.container form .result {
  font-size: 1.1rem;
  margin: 2rem 0 0.5rem;
}

.container button {
  width: 100%;
  height: 62px;
  background-color: #de3136;
  outline: none;
  cursor: pointer;
  border-radius: 0 0 3px 3px;
  transition: all 0.3s ease;
  font-family: inherit;
  border: none;
  font-size: 1.1rem;
  color: #fff;
}

.container button:hover {
  background-color: #c938bc;
}
